<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title><%=pageTitle %></title>
</head>
<body>
     <header>
          <nav>
            <a href="/">Add User</a>
            <a href="/users">User</a>
          </nav>
     </header>
     <form action="/users" >
          <input type="text" name="userName" id="user">
          <button type="submit">Add User </button>
     </form>
</body>
</html>