<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title><%=pageTitle %></title>
</head>
<body>
     <header>
          <nav>
            <a href="/">Add User</a>
            <a href="/users">User</a>
          </nav>
     </header>
     <h1>Users</h1>
     <ul>
          <li><%= userName %></li>
     </ul>
</body>
</html>