doctype html
html(lang="en")
     head
          meta(charset="UTF-8")
          meta(name="viewport", content="width=device-width, initial-scale=1.0")
          title Page not found
          link(rel="stylesheet", href="/style/404.css")
          link(rel="stylesheet", href="/style/main.css")

     body 
          header.main-header
               nav.main-header__nav
                    ul.main-header__item-list
                         li.main-header__item
                              a(href="/") Shop
                         li.main-header__item
                              a(href="/admin/add-product") Add product
          .container
               .gif
                    img(src="https://i.postimg.cc/2yrFyxKv/giphy.gif", alt="gif_ing")
               .content
                    h1.main-headingThis page is gone.
                    p ...maybe the page you're looking for is not found or never existed.
                    a(href="/")
                         button Back to home 
                              i.far.fa-hand-point-right