* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    min-height: 100vh ;
    min-width: 100vh;
    flex-direction: column;
}
.container {
    flex-direction: column;
    gap: 5%;
    width: 29%;
    height: 80%;
    box-shadow: 0px 3px 11px 4px #f6d5fd;
    padding: 5%;
}
header,form {

    min-width: 100%;
}
nav {
    gap: 20%;
    margin-bottom: 10%;
    font-size: 1.5rem;
}
a:link {
    color: black;
    text-decoration: none;

}
a:hover {
    border-bottom: 3px solid #eb8ffe;
}
h1 {
    margin: 10% 0%;

}
.active {
   color: #eb8ffe !important;
}
.active:hover {
    border-bottom: 3px solid #0c0c0c;
}
li {
    list-style: none;
}
button,input{
    padding: 2%;
}
button {
    background-color: #ffff;
    border: 2px solid #eb8ffe;
}
button:hover {
    box-shadow: 1px 1px 12px 0px #f6d5fd;
    cursor: pointer;
    transition: 0.5s all;
}