<%- include('main-layout.ejs') %>
<body>
<form method="post" action="/add-user">
<label for="user">
<input name="user" type="text" placeholder="Your name"/>
<button type="submit">Submit</button>
</label>
</form>
</body>
</html>