<%- include('main-layout.ejs') %>

     <main>
          <% if (user.length > 0) { %>
               <h1>Admins</h1>
               <% for (admin of user) { %> 
               <ul>
                    <li><%= admin.name %></li> 
               </ul>
               <% } %>
          <% } else { %>    
               <h1>Admins</h1>
               <P>No Admin Yet..</P>
          <% } %>

     </main>

</body>
</html>