extends layouts/main-layout.pug

block styles 
     link(rel="stylesheet", href="/style/404.css")

block content 
          .container
               .gif
                    img(src="https://i.postimg.cc/2yrFyxKv/giphy.gif", alt="gif_ing")
               .content
                    h1.main-headingThis page is gone.
                    p ...maybe the page you're looking for is not found or never existed.
                    a(href="/")
                         button Back to home 
                              i.far.fa-hand-point-right