<%- include('../includes/start.ejs') %>
   <link rel="stylesheet" href="/style/auth.css">
   <link rel="stylesheet" href="/style/main.css">
     
</head>
<%- include('../includes/navigation.ejs') %>
<div class="window log_in-window">
 <form method="post" class="flex" action="/login">
      <h3>LogIn</h3>
        <div class="name flex">
          <label for="email">Email</label>
          <input type="email" name="email" id="Name" />
        </div>
        <div class="last_name flex">
          <label for="password" class="last_name-label">Password</label>
          <input type="password" name="password" id="lastName" />
        </div>
<input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit" class="submit">Submit</button>
      </form>
      </div>
<%- include('../includes/end.ejs') %>